<div class="upcoming-talk">
<span class="upcoming-speaker">{{ site.speaker-info.speaker-name }} </span>  <br>
<span class="upcoming-paper"> {{ site.speaker-info.speaker-paper }} </span> <br>
{% if site.speaker-info.coauthors %} <span class="upcoming-speaker"> with {{ site.speaker-info.coauthors}} </span> <br> {% endif %}
<br>
<span class="upcoming-date"> {{ site.speaker-info.speaker-date }} </span> <br>
{% if site.speaker-info.webinar-link %} <span class="upcoming-webinar-link"> <a href="{{ site.speaker-info.webinar-link }}"> Register </a> </span> <br> {% endif %}
{% if site.speaker-info.paper-link %} <span class="upcoming-paper-link"> <a href="{{ site.speaker-info.paper-link }}"> Paper link </a> </span> <br> {% endif %}
{% if site.speaker-info.slides-link %} <span class="upcoming-slides-link"> <a href="{{ site.speaker-info.slides-link }}"> Slides </a> </span> <br> {% endif %}
</div>
