h1.site-title {
    font-family: 'Viaoda Libre',  cursive;
    font-size: 3rem;
    text-align: center;
}

h2.site-tagline {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    text-align: center;
}

h3.main-links {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    text-align: center;
    font-style: normal !important; 
}

a {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

p, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Crimson Text', serif;
}

p, li {
    font-size: 1.4em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
    font-style: italic;
}

main#content.main-content {
    max-width: 64rem;
    padding: 0rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}



body{
    background-color: floralwhite;
}

span.site-footer-owner {
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    text-align: right;
    float: right;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}
hr:after {
    content: "∘";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: floralwhite;
}

iframe {
    padding-left: 6rem;
}

div.upcoming-talk {
    font-size: 1.5rem;
    font-family:  'Crimson Text', serif;
}

span.upcoming-speaker, span.upcoming-paper-link, span.upcoming-webinar-link,
span.upcoming-slides-link {
    max-width: 80%;
    padding: 0rem 2rem;
    margin: 0 auto;
    /* font-size: 1.1rem; */
    /* font-weight: bold; */
}

span.upcoming-paper {
    max-width: 80%;
    padding: 0rem 2rem;
    margin: 0 auto;
    /* font-size: 1.1rem; */
    /* font-weight: bold; */
    font-style: italic;
}

span.upcoming-date {
    max-width: 80%;
    padding: 0rem 2rem;
    margin: 0 auto;
    /* font-size: 1.1rem; */
    /* font-weight: bold; */
}

@media (max-width:700px){
    p, h1, h2, h3, h4, h5, h6, li, div.upcoming-talk {
        font-size: 1.2em;
    }

    main#content.main-content {
        padding: 0 0;
    }

    span.upcoming-speaker, span.upcoming-paper, 
    span.upcoming-date, span.upcoming-paper-link, span.upcoming-webinar-link,
    span.upcoming-slides-link {
        max-width: 100%;
        padding: 0 5%;
    }

    iframe{
        padding: 0 0;
        max-width: 100%;
        width: 100%;
    }
}