
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet"> 
<meta charset="UTF-8">


{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

</head>
<h1 class="site-title" >  </h1>

<body>
    <header class="page-header" role="banner">
        <h1 class="site-title"> <a href="http://microstructure.exchange"> The Microstructure Exchange </a> </h1>
        <h2 class="site-tagline"> A virtual seminar for market microstructure. </h2>
        <!-- <h3 class="main-links"> 
            <a href="https://tinyletter.com/microstructure-exchange">Register</a>
        </h3> -->
        <br>
        <hr>
    </header>

    <aside> </aside>
    <main id="content" class="main-content" role="main">
        {{ content }}

        <br>
        <hr>
        <br>
  
        <footer class="site-footer">
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">cpfiffer</a> and the organizing committee.</span>
        </footer>
    </main>

    <footer> </footer>
</body>
</html>
